<div class="container card shadow mt-5">
    <h1 class="text-center my-3">Restaurents</h1>
    <div *ngIf="alert"  class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> Restaurent is successfully deleted.
        <button type="button" class="btn-close" (click)="closeAlert()" aria-label="Close"></button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Mobile</th>
                <th scope="col">Address</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of collection">
                <td ngModule>{{item.id}}</td>
                <td>{{item.Name}}</td>
                <td>{{item.Phone}}</td>
                <td>{{item.Address}}</td>
                <td>
                    <button type="submit" data-toggle="tooltip" data-placement="right" title="Delete" class="btn btn-sm btn-outline-danger" (click)="deleteRestoId(item.id)"><i class="bi bi-trash"></i></button>&nbsp;
                    <a routerLink="/update/{{item.id}}"><button type="submit" data-toggle="tooltip" data-placement="right" title="Edit" class="btn btn-sm btn-outline-danger"><i class="bi bi-pencil-square"></i></button></a>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>